@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto+Slab:wght@500&display=swap");

:root {
  --brown: #4d1a00;
  --light: #ffd9b3;
  --lighter: rgb(254, 246, 210);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background: var(--lighter);
  color: var(--brown) !important;
  text-align: center;
}
nav {
  background: var(--brown) !important;
  color: var(--lighter) !important;
}
.opening-text {
  margin-left: 5%;
  margin-right: 5%;
}

.slajder-img {
  height: 80vh;
}

.text-history {
  justify-content: center;
  text-align: center;
  margin: 100px;
}
.quotes {
  text-align: center;
  font-size: 5vh;
}
.quotes h3 {
  margin: 50px;
}
.btn-about {
  padding: 10px;
  border: solid 5px var(--brown);
  background-color: var(--light);
  margin: 50px;
  font-size: 3vh;
}
.btn-quotes {
  padding: 10px;
  border: solid 5px var(--brown);
  background-color: var(--light);
  margin: 50px;
  font-size: 3vh;
}
.btn-like {
  height: 50px;
  width: 50px;
}
.pub-img-nav {
  height: 250px;
  width: 300px;
  border: solid 10px var(--brown);
  transition: transform 3s ease-in-out;
}
.pub-img-nav:hover {
  transform: scale(1.3);
}

.pub-img {
  height: 300px;
  width: 500px;
  border: solid 10px var(--brown);
  transition: transform 3s ease-in-out;
}

.pub-img:hover {
  transform: scale(1.3);
}
.revew {
  border: solid 3px var(--brown);
  color: var(--brown);
}
.comment {
  border: solid 3px var(--brown);
  color: var(--brown);
}

.profile-img-larg {
  height: 300px;
  width: 500px;
  border: solid 10px var(--brown);
  transition: transform 3s ease-in-out;
}
.profile-img-larg:hover {
  transform: scale(1.3);
}
.profile-img-small {
  height: 150px;
  width: 200px;
  border: solid 5px var(--brown);
  transition: transform 3s ease-in-out;
  border-radius: 50%;
}
.profile-img-small:hover {
  transform: scale(1.3);
}

.short-profile-list {
  margin-left: 18%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: var(--brown);
}

.footer {
  text-align: center;
}
.footer a {
  color: var(--brown);
  font-size: 2.5rem;
  margin: 10px;
}
.footer a:hover {
  color: var(--light);
  transition: 0.7s;
}
.footer i:hover {
  animation: footer 0.7s ease;
}

@keyframes footer {
  100% {
    transform: rotate(360deg);
  }
}
h3 {
  margin-top: 20px;
}



@media(max-width: 768px) {
  
   
}
@media(min-width: 600px) {
   
}

@media(min-width: 768px) {
    
}

@media(min-width: 992px) {
   
}

@media(min-width: 1200px) {
   
}
